<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Nova Pesagem</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #myForm="ngForm">
      <div class="form-group">
        <label for="dataPesagem">Data da Pesagem</label>
        <input required [ngModel]="pesagem.data | date:'yyyy-MM-dd'"
            (ngModelChange)="pesagem.data = $event" #dataPesagem="ngModel"
            class="form-control ml-2" type="date" id="dataPesagem" name="dataPesagem"/>
      </div>

      <div class="form-group">
        <label required for="peso" class="ml-2">Peso</label>
        <input type="text" required class="form-control ml-2" name="peso"
        [ngModel]="pesagem.peso" (ngModelChange)="pesagem.peso = $event"
        #peso="ngModel" />
      </div>

      <div *ngIf="myForm.invalid" class="alert alert-danger">
        <div *ngIf="dataPesagem.errors.required">Favor informar a data da pesagem.</div>
        <div *ngIf="peso.errors.required">Favor informar o peso.</div>
        <div *ngIf="peso.errors.invalid">Favor informar o peso corretamente.</div>
      </div>

      <div class="modal-footer">
        <button type="button" [disabled]="myForm.invalid" class="btn btn-primary" (click)="modal.close('Salvar')">Salvar</button>
      </div>

    </form>
  </div>
</ng-template>

<button class="btn btn-primary ml-2" (click)="open(content)">Nova Pesagem</button>

