<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Parto</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #myForm="ngForm">
      <div class="form-group">
        <label for="dataParto">Data da Parto</label>
        <input [ngModel]="parto.data | date:'yyyy-MM-dd'" required
            (ngModelChange)="parto.data = $event" #dataParto="ngModel"
            class="form-control ml-2" type="date" name="dataParto"/>
      </div>

      <div class="form-group">
        <label required for="observacao" class="ml-2">Observação</label>
        <input type="text" class="form-control ml-2" name="observacao"
        [ngModel]="parto.observacao" (ngModelChange)="parto.observacao = $event"
        #observacao="ngModel" />
      </div>

      <div *ngIf="myForm.invalid" class="alert alert-danger">
        <div *ngIf="dataParto.errors.required">Favor informar a data da parto.</div>
      </div>

      <div class="modal-footer">
        <button type="button" [disabled]="myForm.invalid" class="btn btn-primary" (click)="modal.close('Salvar')">Salvar</button>
      </div>

    </form>
  </div>
</ng-template>

<a routerLink="./" (click)="open(content)">
  {{ parto.data | date: 'dd/MM/yyyy' }}
</a>

